<%-layout("/layouts/boilerplate")%>
<!-- this above line means that the above code is all present here -->

<div class="row mt-4">
  <div class="col-8 offset-md-3">
    <h3><%=list.title%></h3>
  </div>
  <div class="col-6 offset-md-3">
    
    <div class="card show-card card-list" style="width: 25rem; ">
      <img src="<%=list.image.url%>" class="card-img-top" alt="listing">
      <div class="card-body">
        <p class="card-text">
          <b>Owned by <i><%=list.owner.username%></i></b> <hr>
          <%=list.description%> <br>
          Location : <%=list.location%> ,<%=list.country%> <br>
          Price : &#8377; <%=list.price.toLocaleString("en-IN")%>
        </p>
        <%if(currUser && currUser._id.equals(list.owner._id)) {%>   <!--here currUser is saved in locals (whithout sending the variable while rendering)-->
        <a href="/listings/<%=list._id%>/edit" class="btn btn-primary mb-2">Edit</a><br>
        <form action="/listings/<%=list._id%>/delete?_method=DELETE" method="POST">
        <button class="btn btn-primary">Delete</button>
          <%}%>
      </form>
      </div>
    </div>

  </div>
  <hr>

  <div class="col-6 offset-md-3 offset-sm-2 mb-3">
    <%if(currUser){%>
    <h4>Write a Review</h4>
    <form action="/listings/<%=list._id%>/review" method="POST" novalidate class="needs-validation">
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>

      <div class="mb-3">
        <label for="comment" class="form-label" >Comment</label>
        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"  required></textarea>
        <div class="invalid-feedback"> Please Enter Valid Comment</div>
      </div>
      <button class="btn btn-secondary">Submit</button>
    </form>
    <%}%>  
  </div>
</div>
<hr>


<h4>Customer Reviews</h4>
<div class="reviews">
  <div class="row">
  <%for(review of list.reviews){%>
    <div class="card border-dark text-white mb-3 col-md-4 ms-2" style="width: 12.5rem;">
      <div class="card-body">
        <h5 class="card-header"><b>@<%=review.author.username%></b></h5><br>
        <h6 class="card-subtitle mb-2 text-body-secondary" style="color: rgb(226, 158, 158) !important;"><p class="starability-result" data-rating="<%=review.rating%>"></p></h6>
        <p class="card-text"><%=review.comment%></p>
        <%if(currUser && currUser._id.equals(review.author._id)){%>
        <form action="/listings/<%=list._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
          <div class="card-footer bg-transparent ">
          <button class="btn btn-sm btn-danger">Delete</button>
        </div>
        </form>
        <%}%>
      </div>
    </div>
  <%}%>
  </div>
</div>



